.header {
    @include container($ipadPro);
    background-color: rgb(19, 19, 19);
    height: 70px;

    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        @include h3;
        font-weight: bold;
        color: rgb(255, 199, 102);
        span {
            color: white;
            display: inline;
        }
    }

    .menu {
        display: flex;
        gap: 40px;
        align-items: center;

        li,
        a {
            color: #fff;
        }

        button {
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
            cursor: pointer;
            @include p;
        }
    }
}

.mainContainer {
    @include container($ipadPro);
    margin: 0 0 30px;
}

.footer {
    p {
        text-align: center;
    }
}
